<div class="spreadsheet-table yui3-skin-sam">
	<div class="hide-scroll"></div> 
	<div class="fixable-header">
		<div class="unmovable-cols">
			<table class="table table-bordered table-condensed">
				<tbody>
					<tr>
						<th>Month</th>
					</tr>
					<tr>
						<th>Date</th>
					</tr>
					<tr>
						<th>Day</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="header-scrollview-content" class="yui3-scrollview-loading">
			<table class="table table-bordered table-condensed table-gantt">
				<tbody>
					<tr>
						{{#months}}
							<th colspan="{{dayCount}}">{{name}}</th>
						{{/months}}
					</tr>
					<tr>
						{{#months}}
							{{#days}}
								<th>{{dayInMonth}}</th>
							{{/days}}
						{{/months}}
					</tr>
					<tr>
						{{#months}}
							{{#days}}
								<td>{{dayName}}</td>
							{{/days}}
						{{/months}}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="movable-body">
		<div class="unmovable-cols">
			<table class="table table-bordered table-condensed">
				<tbody>
					{{#tasks}}
					<tr class="yui3-datatable-tree-row-depth-{{depthLevel}}">
						<td class="yui3-datatable-tree-col">
							{{name}}						
						</td>
					</tr>
					{{/tasks}}
				</tbody>
			</table>
		</div>
		<div id="body-scrollview-content" class="yui3-scrollview-loading">
			<div class="task-bars movable-rows">
				<table class="table table-bordered table-condensed">
					<tbody>
						{{#tasks}}
						<tr>
							<td class="task-bar">
								{{#if isParent}}
									<div class="parent-bar progress" style="margin-left: {{startShift}}px; width: {{barWidth}}px;">
										<div class="bar bar-warning" style="width: 100%"></div>
										<div class="startCorner"></div>
										<div class="endCorner"></div>
									</div>
								{{else}}
									<div class="task-bar progress" style="margin-left: {{startShift}}px; width: {{barWidth}}px;">
										<div class="bar" style="width: 100%"></div>
									</div>
								{{/if}}					
							</td>
						</tr>
						{{/tasks}}
					</tbody>
				</table>
				<div class="gantt-grid">
					<table class="table table-bordered table-condensed">
						<tbody>
							<tr class="timeline-grid">
							{{#months}}
								{{#days}}
									<td></td>
								{{/days}}
							{{/months}}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>