<div class="task-list">
	{{#tasks}}
		<div class="task yui3-datatable-tree-row-depth-{{depthLevel}}">
			<p class="task-name yui3-datatable-tree-col">{{name}}</p>
			{{#if isParent}}
				<div class="task-bar parent-bar" style="margin-left: {{startShift}}px; width: {{barWidth}}px;">
					<div class="startCorner"></div>
					<div class="endCorner"></div>
				</div>
			{{else}}
				<div class="task-bar" style="margin-left: {{startShift}}px; width: {{barWidth}}px;"></div>
			{{/if}}
		</div>
	{{/tasks}}

	<div class="timeline">
		{{#stripeRows months}}<div class="month {{rowClass}}">
			<h4>{{name}}</h4>
			<div class="days">
				{{#days}}<div class="{{cssClass}}">
					<div class="dayInMonth">{{dayInMonth}}</div>
					<div class="dayName">{{dayName}}</div></div>{{/days}}
			</div>
		</div>{{/stripeRows}}
	</div>
</div>
